*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
body h1{
    color: #282f59;
}
body p{
    color: #7c7c7c;
}
body a{
    text-decoration: none;
    color: whitesmoke;
}
/* -------var------- */
:root{
    --gradient-1 :linear-gradient(to bottom right, rgb(107, 107, 255), blue);
    --gradient-2 : linear-gradient(to bottom right, rgb(80, 80, 255), rgb(253, 119, 119));
    --gradient-3 :  linear-gradient(to bottom right, rgb(255, 207, 145),rgb(255, 111, 92));
    --reverse-gradient-3: linear-gradient(to bottom right, rgb(255, 111, 92), rgb(255, 207, 145));
    --gradient-4 : linear-gradient(to bottom right, #2af598, #009efd);
}

/* -------header------- */
header{
    background-image: url(image/header-bg.png);
    background-repeat: no-repeat;
    min-height: 100vh;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 10px 50px;
    align-items: center;
}
.navbar ul{
    flex-grow: 1;
    /* cac phan tu co gian lap day khoang trong navbar */
    text-align: right;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 0 25px;
}
.navbar ul li a{
    text-decoration: none;
    color: whitesmoke;
}
.logo{
    width: 180px;
}
.ctn{
    padding: 10px 20px;
    background: var(--gradient-3);
    border-radius: 50px;
}
.ctn:hover{
    background: var(--reverse-gradient-3);
}
.row{
    display: flex;
    align-items: center;
    padding-top: 5rem;
    /* rem = kich thuoc font cua the html x so */
}
.header-content, .hero-img{
    flex-basis: 50%;
    padding: 5rem;
}
.header-content h1{
    font-size: 7vmin;
    /* vmin = 1% kich thuoc ngan nhat cua khung nhin */
    margin-bottom: 30px;
    margin-top: 7rem;
    color: #4642ff;
}
.header-content p{
    margin-bottom: 30px;
}
.learnmore{
    padding: 10px 20px;
    border: 1px solid tomato;
    border-radius: 50px;
    color: tomato;
    margin-right: 30px;
}
.learnmore:hover{
    background: var(--gradient-3);
    border: none;
    color: whitesmoke;
}
.hero-img img{
    margin-left: 80px;
}

/* -------main------- */
/* services */
.services{
    margin-top: 80px;
}
.container{
    padding: 3rem;
    display: flex;
}
.grid-wrapper, .service-content{
    flex-basis: 50%;
}
.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2em;
    padding: 2rem;
}
.grid-box{
    margin: 10px;
    height: 200px;
    min-width: 250px;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
}
.grid-box img{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    animation: scaleup 6s ease-in-out infinite;
}
.grid-box h1{
    color: whitesmoke;
    font-weight: 500;
}
.mobileapp{
    background: var(--gradient-1);
}
.webdesign{
    background: var(--gradient-2);
    margin-top: 30px;
}
.marketing{
    background: var(--gradient-3);
}
.branding{
    background: var(--gradient-4);
    margin-top: 30px;
}
.service-content{
    padding-top: 3rem;
    position: relative;
    padding-left: 2rem;
}
.service-content h1{
    font-size: 6vmin;
    margin-bottom: 30px;
}
.service-content p{
    padding-right: 6rem;
    margin-bottom: 30px;
}
.circle img{
    position: absolute;
    top: -10%;
    left: -20%;
    width: 650px;
    z-index: -1;
    animation: scaleup 6s ease-in-out infinite;
}

/* theme toggle */
.theme{
    position: absolute;
    top: 30px;
    left: 30%;
}
.label{
    width: 50px;
    height: 20px;
    background: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}
label .ball{
    width: 15px;
    height: 15px;
    background: #282f59;
    border-radius: 50%;
    margin: 5px;
    transition: transform 0.5s ease;
}
#checkbox{
    opacity: 0;
    position: absolute;
}
#checkbox:checked + .label{
    background: #282f59;
}
#checkbox:checked + .label .ball{
    background-color: whitesmoke;
    transform: translateX(25px);
}
/* animation */
@keyframes scaleup{
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}

/* numbers */
.numbers{
    margin-top: 100px;
}
.numbers .num-text{
    font-size: 40px;
    padding-left: 6rem;
    padding-right: 50%;
}
.numbers p{
    padding-left: 6rem;
    padding-right: 50%;
}
.mockup-img{
    flex-basis: 50%;
}
.mockup-img img{
    max-width: 100%;
    margin: 42px 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.329);
    border-radius: 10px;
}
.hpyclients{
    background: var(--gradient-1);
}
.prjcompleted{
    background: var(--gradient-2);
}
.rnnprojects{
    background: var(--gradient-3);
}
.awmdesigns{
    background: var(--gradient-4);
}
.numbers .grid-box h1{
    font-size: 40px;
}
.numbers .grid-box h2{
    color: whitesmoke;
    font-weight: 400;
    margin-top: 17px;
    font-size: 20px;
}
.numbers .grid-box{
    transition: transform 1s ease-in-out;
}
.numbers .grid-box:hover{
    transform: translateY(-20px);
}

/* projects */
.projects{
    margin-top: 80px;
    text-align: center;
}
.projects h1{
    font-size: 40px;
}
.projects-img{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
}
.prj-img{
    height: 300px;
    overflow: hidden;
    position: relative;
}
.prj-img img{
    max-height: 100%;
    min-width: 100%;
}
.details{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 255, 0.541);
    transform: scaleX(0);
    transition: transform .5s ease;
}
.prj-img:hover .details{
    transform: scaleX(1);
}
.details h1,h2,i{
    color: whitesmoke;
}
.details i{
    font-size: 30px;
}

/* team */
.team{
    margin-top: 80px;
}
.team-h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.team .grid-wrapper{
    background: var(--gradient-2);
    padding: 3rem;
}
.team-mem{
    background: white;
    height: 400px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.team-mem h2{
    color: grey;
    margin-bottom: 20px;
    font-size: 18px;
}
.team-mem i{
    color: grey;
    margin: 20px;
    transition: transform .5s ease;
    cursor: pointer;
}
.team-mem i:hover{
    color: blue;
    transform: scale(1.4);
}
.team-mem img{
    width: 80px;
    height: auto;
    border-radius: 50%;
}

/* get started */
.get-started{
    margin: 80px auto;
}
.ctn-wrapper{
    display: flex;
    width: 80%;
    padding: 2rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.212);
    margin: 10px auto;
    justify-content: center;
    border-radius: 10px;
}
.ctn-btn{
    padding: 20px 50px;
    margin-left: 30%;
    color: white;
    background: var(--gradient-2);
    border: none;
    font-size: 20px;
    border-radius: 2px;
    cursor: pointer
}
.ctn-btn:hover{
    background: var(--gradient-4);
}

/* -------footer------- */
footer{
    background-image: url(image/footer-agency.png);
    background-size: cover;
}
.column{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.num1 h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.num1 i{
    margin: 50px 20px;
    font-size: 25px;
    color: grey;
}
.num2 h4, .num3 h4,.num4 h4{
    color: grey;
    font-weight: 400;
}
hr{
    width: 90%;
    margin: 0 auto;
}
.copyright{
    display: flex;
    justify-content: space-around;
    color: grey;
    padding: 30px;
    font-weight: 400;
}